/*core-toolbar {
	background-color:	#03A9F4	;
	color:	white;
}

body {
		font-family:	sans-serif;
}

[main] {
		background-color: #F9F9F9;
}

[drawer] {
		background-color: #FFFFFF;
}

core-drawer-panel: not([narrow]) #navicon {
		display: none;
}*/


body {
  font-family: Roboto, 'Helvetica', sans-serif;
}
.container {
  padding: 16px;
}
a {
  color: black;
  text-decoration: none;
}
